baseURL = "http://localhost:1313"
languageCode = "vi-vn"
title = "Blog Lập Trình"
theme = "stack"

[pagination]
pagerSize = 5

[params]
mainSections = ["posts"]
customCSS = ["scss/custom.scss"]

[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1


[[menu.main]]
name = "About"
url = "/about"
weight = 3


  [[menu.main]]
    name = "Blog"
    url = "/posts"
    weight = 2

[[menu.main]]
name = "Contact"
url = "/contact"
weight = 5

[params.sidebar.avatar]
enabled = true
local = true
src = "img/avt.jpg"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true



